*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: url(/images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
}

.flex{
    display: flex;
}

h1{
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

p{
    font-weight: 400;
}

header, main{
    width: 85%;
    margin-inline: auto;
    max-width: 1300px;
}

header{
    align-items: center;
    padding: 1.5rem 0;
}

main{
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-top: 7.5vh;
    gap: 1.5rem;
}

#logo{
    height: 2.25rem;
}

.container{
    width: 100%;
}

.btn{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    width: 70%;
    padding: .5em 1.5em;
    border-radius: 94.896px;
    transition: 0.5s;
}

button:hover{
    color: #fff;
    background-color: hsl(300, 69%, 71%);
}




footer{
    margin-top: 5vh;
}

.attribution {
    color: #fff;
    font-size: 11px;
    width: 90%;
    margin-inline: auto;
    text-align: center;
}

.attribution a{
    /* color: hsl(228, 45%, 44%); */
}

#user-name{
    text-decoration: none;
    font-weight: bold;
    /* color: hsl(220, 15%, 35%); */
    font-family: monospace;
    transition: 0.5s;
}

#user-name:hover{
    text-shadow: red 1px 0, cyan -1px 0;
}

@media (min-width: 600px) and (max-width: 1022px){
    main{
        font-size: 20px;
    }

    #logo{
        height: 2.75rem;
    }
}


@media (min-width: 1023px){


    body{
        background: url(/images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
    }

    header{
        width: 90%;
    }

    main{
        flex-direction: row;
        margin-top: 7.5vh;
        width: 90%;
    }

    #logo{
        height: 3rem;
    }

    #mockup{
        width: 50%;
    }


    .container{
        width: 50%;
        text-align: left;
    }

    h1{
        font-size: 2rem;
    }

    .btn{
        font-size: 1.15em;
        width: 35%;
    }
}

@media (min-width: 1439px){
    
    html{
        font-size: 21px;
    }
}

